<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201592434463-43iqacggpcub4ludvl7ukt63lk0ujvn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201592434463-43iqacggpcub4ludvl7ukt63lk0ujvn2</string>
	<key>API_KEY</key>
	<string>AIzaSyCtzzqyRhL4yzzNcLVgNO7tKqd_01hGftU</string>
	<key>GCM_SENDER_ID</key>
	<string>201592434463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rave.FlashCards</string>
	<key>PROJECT_ID</key>
	<string>flashcardsfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>flashcardsfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201592434463:ios:ba0729864a2e34be984a2a</string>
</dict>
</plist>